@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@use "__var";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  font-size: 85.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

img.DSVG, img.DSVGS, img.box {
  display: none;
}

.card {
  margin-top: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 80vw;
  height: 80vh;
  background: #fff;
  border-radius: 1.5rem;
}

.card img.SVG {
  position: absolute;
  top: -6.8rem;
  border: none;
  z-index: 9999;
}

.card img.SVGS {
  border: none;
  position: absolute;
  top: -0.1rem;
  left: 5.8rem;
}

.card h1 {
  margin-top: 8.5rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card .dropdowns {
  margin-top: 2.5rem;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

.card .dropdowns .ulbox, .card .dropdowns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 97%;
  overflow-x: hidden;
  overflow-y: auto;
}

.card .dropdowns .ulbox ul, .card .dropdowns ul ul {
  border-bottom: 0.1rem solid #e7e7e9;
  overflow-x: hidden;
}

.card .dropdowns .ulbox li, .card .dropdowns ul li {
  display: none;
  margin: 0 auto 0.6rem;
}

.card .dropdowns .ulbox .hello, .card .dropdowns ul .hello {
  display: block;
  width: 90%;
  text-align: center;
  padding: 0 1rem;
}

.card .dropdowns .ulbox li.main, .card .dropdowns ul li.main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0.25rem auto;
  height: 2rem;
  padding: 0 1rem;
  color: #787887;
  font-weight: 400;
}

.card .dropdowns .ulbox li.main span, .card .dropdowns ul li.main span {
  color: #f47c57;
}

.attribution {
  margin-top: 0.5rem;
}

.weight {
  font-weight: 700;
}

.border {
  border-bottom: 9;
  margin-bottom: 0.25rem;
}

.up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media only screen and (min-width: 992px) {
  img.SVG, img.SVGS {
    display: none;
  }
  img.DSVG, img.DSVGS, img.box {
    display: block !important;
    position: absolute;
  }
  img.box {
    top: 19.5rem;
    z-index: 999;
    left: 2rem;
  }
  img.DSVG {
    z-index: 998;
    top: 7rem;
    left: -5rem;
  }
  img.DSVGS {
    top: 0rem;
    height: 90%;
    left: -7.5rem;
  }
  h1 {
    position: absolute;
    right: 26rem;
    top: 5rem;
    margin: 0 !important;
    text-align: unset;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 998;
    overflow: hidden !important;
    margin: 0;
  }
  .card .dropdowns {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 80vh;
    margin-left: 29rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    top: 10rem;
  }
  .card .dropdowns .ulbox, .card .dropdowns ul {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-preferred-size: 97%;
        flex-basis: 97%;
  }
  .card .dropdowns .ulbox li, .card .dropdowns ul li {
    margin: 0 auto 0.6rem;
  }
  .card .dropdowns .ulbox .hello, .card .dropdowns ul .hello {
    width: 90%;
    padding: 0 1rem;
  }
  .card .dropdowns .ulbox li.main, .card .dropdowns ul li.main {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 0.25rem auto;
    height: 2rem;
    padding: 0 1rem;
  }
  .attribution {
    margin-top: 0.5rem;
  }
  .border {
    border-bottom: 9;
    margin-bottom: 0.25rem;
  }
}
/*# sourceMappingURL=index.css.map */