@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@use "__var";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  font-size: 85.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
}

.card {
  margin-top: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 80vw;
  height: 80vh;
  background: #fff;
  border-radius: 1.5rem;
}

.card img.SVG {
  position: absolute;
  top: -6.8rem;
  border: none;
}

.card img.SVGS {
  border: none;
  position: absolute;
  top: -0.1rem;
  left: 5.8rem;
}

.card h1 {
  margin-top: 8.5rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card .dropdowns {
  margin-top: 4.5rem;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card .dropdowns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.card .dropdowns ul li {
  display: none;
}

.card .dropdowns ul .hello {
  display: block;
  width: 90%;
  text-align: center;
  padding: 0 1rem;
  margin: 0.5rem auto;
}

.card .dropdowns ul li.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: 1rem;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 2.5rem;
  margin: 0.1rem auto;
  padding: 0 1rem;
  color: #787887;
  border-bottom: 0.1rem solid #e7e7e9;
  font-weight: 400;
}

.card .dropdowns ul li.main span {
  color: #f47c57;
}

.attribution {
  margin-top: 0.5rem;
}

.weight {
  font-weight: 700;
}
/*# sourceMappingURL=index.css.map */