// Primary Text
$P_Very_dark_desaturated_blue: #1d1e35;
$P_Soft_red: #f47c57;
// Natural Text
$N_Very_dark_grayish_blue: #4a4b5e;
$N_Dark_grayish_blue: #787887;
// Background Gradinet
$Gradinet_violet: #af67e9;
$Gradinet_blue: #6565e7;
// Dividers
$Dividers_grayish_blue: #e7e7e9;